
.simple-search {
    width: auto;
    text-align: center;
    display: flexbox;
    box-sizing: content-box;
    padding: 10px 20px;
    margin: 100px auto;
    z-Index: 203;
    text-align: center;
}

.simple-form-buttons {
    margin: 0 2%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
}

.simple-search-input {
    margin: 0 2%;
    text-align: center;
    background: white;
    width: 30%;
    height: 35px;
    font-size: 22px;
    display: flex;
    box-sizing: content-box;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 3px;
    outline: none;
    color: #f2ad00;
    border: 2px solid black;
    border-radius: 10px;
}

.simple-search-input:hover {   
    background-color: black;
}

.simple-search-label {
    text-shadow: 3px 4px black;
    text-align: center;
    font-size: 60px;
    color: white;
    margin-bottom: 30px;
}

.simple-search-button {
    display: inline;
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
    border: 2px solid black;
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    background: #d89b00;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    border-width: 2px;
}


.simple-search-button:hover {
    background: black;
    color: #d89b00;
}

.simple-search-button:active {
    background: #926a03
}

@media screen and (max-width: 1024px ) {
    .simple-search {
        transform: translateY(-0%);
    }
}


@media screen and (max-width: 768px ) {
    .simple-search {
        transform: translateY(-0%);
    }
}