

.toolbar {
    background: var(--toolbar-background-color);
    width: 100%;
    top: 0;
    left:0;
    height: 60px;
    padding-top: 10px;
    background: none;
    z-index: 201;
}

.toolbar.solid {
    background: black;
    height: 5em;
    z-index: 201;
}

.logo {
    margin-left: 0;
    height: 75px;    
}

.toolbar-nav {
    display: flex;
    align-items: center;
    height:100%;
    padding: 0px 20px;
}

/* 
D89B00
585858
black
*/

.spacer {
    flex: 1;
}

.toolbar-links-list {
    list-style: none;
    margin: 0;
    padding: 0px 10px;
    display: flex;
}

.login-btn {
    color: #d89b00;
    border: 2px solid #d89b00;
    border-radius: 10em;
}

.login-btn:hover {
    background-color: rgb(26, 27, 29)
}

.signup-btn {
    border: 2px solid #d89b00;
    color: #1a1b1d !important;
    border-radius: 10em;
}

.signup-btn:hover {
    color: rgb(26, 27, 29);
    background-color: #d89b00;
}


@media  (max-width: 768px) {
    .toolbar-links-list {
    display: none;
    }
    .logo {
    float: right;
    width: 50%;
    height: auto;
    }

}

@media (min-width: 769px) {
    .hamburger {
        display: none;
    }
}