#header {
    width: 100%;
    color: rgb(13, 13, 13);
    text-align: center; 
    margin: 0 auto;
}

#results-list {
    background: white;
}

.button-div {
    text-align: center;
}

.Results { 
      background: conic-gradient(at center 50%, #fff 0%, #909090  0 50%, #fff 0);
}