#header {
    margin: 0 auto;
    padding: 5%;
    border-radius: 5px 5px 0px 0px;
    background-color: #909090;
    width: 70.3%;
    padding: 1%;
    color: rgb(13, 13, 13);
    text-align: center; 
    align-content: center;
}

#results-list {
    background: white;
}

.button-div {
    text-align: center;
}

.Results { 
      background: conic-gradient(at center 50%, #fff 0%, #909090  0 50%, #fff 0);
}

#map-div {
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    position: relative;
    z-index:200;
    height:auto;
    width:100%;
}


@media screen and (max-width: 769px) {
    #map-div {
        background: #909090;
        padding: 4% 0%;
    }
    .results-container {
        margin: 0 auto;
        width: 80%
    }
}