.container {
    border: 5px solid #d89b00;
    border-radius: 1em;
    width: 100%;
    min-height: 500px;
    max-height:70vh;
    overflow: scroll;
    position: relative;
    background: #131313;
}

.button-div { 
    bottom: 0;
    right: 0;
}


#results-btn {
    display: inline-block;
    box-sizing: content-box;
    padding: 10px 20px;
    margin: 20px;
    outline: none;
    text-align: center;
    color: rgba(0,0,0,1);
    text-overflow: clip;
    background: black;
    color: #d89b00;
    cursor: pointer;
    border-radius: 3px;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
}

