.container {
    background: rgb(49, 49, 49);
    width: 100%;
    min-height: 100vh;
    height: 500px;    
    max-height: 100vh;
    overflow: scroll;
    position: relative;
}

#results {
    overflow: scroll;
}

#results-btn {
    display: inline-block;
    border: none;
    float: right;
    box-sizing: content-box;
    padding: 10px 20px;
    margin: 20px;
    outline: none;
    color: rgba(0,0,0,1);
    text-overflow: clip;
    background: black;
    color: #d89b00;
    cursor: pointer;
    border-radius: 3px;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
}

