#results-row {
    display: flex; /* equal height of the children */
}

.search-form {  
    justify-content: center;
    background: rgba(41, 41, 41);
    top: 6em;    
    min-width: 50%;
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    color: #d89b00;
    align-content: right;
    position: relative;
    z-index: 99;
    border-radius: 5px;
    box-shadow: 10px 10px 8px rgb( 0 , 0, 0 , 0.5);
}

.search-title {
    text-align: center;
}

.input-div {
    position: inherit;
    margin: 20px;
}

#title {
    font-size: 52px;
    color: white;

}

#subtitle {
    font-size: 22px;
    margin: 10px auto;
    color: #d89b00;
    font-weight: 400;
}

#label {
    font-size: 18px;
    font-weight: bold;
}

#city-input {
    background: rgb(29, 29, 29);
    width: 80%;
    height: 30px;
    font-size: 22px;
    display: inline-block;
    box-sizing: content-box;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 3px;
    outline: none;
    color: #d89b00;
    text-overflow: clip;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    box-shadow: 0 3px 5px 2px rgba(41, 41, 41, .3);
    border-Left-Width: 20px;
}

#count-input {
    background: rgb(29, 29, 29);
    width: 80%;
    font-size: 22px;
    height: 30px;
    display: inline-block;
    box-sizing: content-box;
    padding: 10px 20px;
    margin: 10px auto;
    outline: none;
    color: #d89b00;
    text-overflow: clip;
    border-radius: 3px;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    box-shadow: 0 3px 5px 2px rgba(41, 41, 41, .3);
    border-Left-Width: 20px;
}

.button-div {
    text-align: right;
}

#search-button {
    display: inline-block;
    border: none;
    box-sizing: content-box;
    padding: 10px 20px;
    margin: 20px;
    outline: none;
    color: rgba(0,0,0,1);
    text-overflow: clip;
    background: black;
    color: #d89b00;
    cursor: pointer;
    border-radius: 3px;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
}


@media screen and (max-width: 768px) {
    .search-form {
        transform: translateY(5%);      
    }
}