@media only screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}

.row {
  background-color: #292929;
  display: flex; /* equal height of the children */
}

.search-col {
  transform: translateY(-130%);
}

.results-col {
  background-color: #292929;
  transform: translateY(-10%);
}

.col {
  background-color: #292929;
  top:-500px;
  flex: 1; /* additionally, equal width */
  padding: 1em;
  border: none; 
}
 