@media only screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}

body {
  background-color: rgb(19, 21, 27) !important;
}

.Home {
  height: 500px;
  background: linear-gradient(
   35deg,
   #0f3147,
   #1d252d
   );
}