.card-text {
    background: black;
    color: white;
}

.Typography {
    color:white;
}

.location-title {
  font-size: 20px;
  color: #d89b00;
  text-align: right;
  margin: 1%;
}
.location-address {
  font-size: 20px;
  color: white;
  text-align: right;
  margin: 14px auto;
}

@media screen and (max-width: 568px) {
  .card {
    margin: 0 auto;
    flex-direction:column;
  }
}

@media screen and (max-width: 768px) {
  .card {
    margin: 0 auto;
    flex-direction:column;
  }
}