#instructions {
    color: white;
    display: inline;
}

.text-body{
    text-align: center;
    padding:10px;
}

h2 {
    color: white;
}

.logo-instructions {
    height: auto;
    width: 80%;
}

p {
    font-size: 20px;
    color: white;
}

.intr {
    text-align: center;
    display: flex;
}

.how {
    margin: 10px;
    height: 105px;
    width: 105px;

}
.who {
    margin: 10px;
    height: 105px;
    width: 105px;

}
.where {
    margin: 10px;
    height: 105px;
    width: 105px;
}

.col {
  flex: 1; /* additionally, equal width */
  padding: 1em;
  border: none;
}


/* 
@media (max-width: 768px) {
    .col {
    flex: none;
    width: 300px;
    }
    #instructions {
        width: 100%;

    }
} */


 @media screen and (min-width: 48em) {
  col:before {
    content: '';
    float: right;
    display: block;
    width: 300px;
    height: 150px;
    margin: 0 0 15px 15px;
  }
  .logo-instructions {
      width: 200px;
  }
  .buttons {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
  }
}