span {
    color: #d89b00;
}
label {
    color: white;
}

#login-container {
    margin: 0 auto;
    width: 400px;
}

#register-bg {
    filter: blur(2px);
}
span a {
    color: #d89b00;
}

span a:hover {
    color: white;
    text-decoration: "none";
    font-weight: 600;
}
.search-title {
    margin-top:40px;
}

input {
    background: rgb(29, 29, 29);
    width: 95%;
    height: 30px;
    font-size: 22px;
    display: inline-block;
    box-sizing: content-box;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 3px;
    outline: none;
    color: #d89b00;
    text-overflow: clip;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    box-shadow: 0 3px 5px 2px rgba(41, 41, 41, .3);
    border-Left-Width: 20px;
}

#login-button {
    top: 0;
    left: 0;
    border: none;
    box-sizing: content-box;
    padding: 10px 20px;
    margin: 5px;
    outline: none;
    color: rgba(0,0,0,1);
    text-overflow: clip;
    background: #d89b00;
    color: black;
    cursor: pointer;
    border-radius: 3px;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    border-Left-Width: 20px;
}


#login-search-form {
    height: 500px;
    min-height: 6em;
    display: table-cell;
    vertical-align: middle;
}

.Links {
    text-align: center;
}


