span {
    color: #d89b00;
}
label {
    color: white;
}

#login-container {
    margin: 0 auto;
    width: 400px;
}

#register-bg {
    filter: blur(2px);
}
span a {
    color: #d89b00;
}

span a:hover {
    color: white;
    text-decoration: "none";
    font-weight: 600;
}
.search-title {
    margin-top:40px;
}

#login-search-form {
    height: 400px;
    min-height: 6em;
    display: table-cell;
    vertical-align: middle 
}

.Links {
    text-align: center;
}
