.results-title-col {
    top: 200px;
    z-index:100;
    position: relative;
    width: 100%;
}

.title {
    margin: 4em auto;
    height: auto;
}

.titles {
    padding: 4em;
    height: auto;

}

.results-text {
    text-align: center;
    color: white;
    margin: 0 auto;
}

.map-title {
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 5em;
}

.results-title {
    width: 50%;
    padding-right: 5em;
    float: right;
    text-align: right;
}
